{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css, cdn, and scripts go here -->
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/admin">Admin</a>
        <a href="/" >Home</a>
        <a href="/about">About</a>
        <a href="/dogs">Dog List</a>
        <a href="dogtoys/">Dog Toys</a>
        <a href="{% url 'dog_create' %}" >Dog Create</a>
        <a href="{% url 'dogtoys_create' %}" >Dog Toy Create</a>
    </nav>


    {% block content %}
    <h1>Home</h1>
    {% endblock %}
</body>
</html>